body{
    margin: 0%;
    padding: 0%;
    background: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    list-style: none;
    text-decoration: none;
}
nav{
    height: 80px;
    justify-content: space-around;
    display: flex;
}
.icons{
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.icons img{
    width: 30px;
    margin: 10px;
    border-radius: 20px;
    background-image: radial-gradient(rgb(151, 220, 243),green);
    border: 1px solid rgb(6, 247, 42);
    transition: all ease 1s;
}
.icons img:hover{
    background-image: linear-gradient(150deg, rgb(218, 107, 107), rgb(138, 138, 218));
    transform: translate(0, -5px);
}
.title{
    width: 50%;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.title h1{
    color: rgb(68, 63, 63);
    font-size: 30px;
    border-radius: 10px;
    width: 250px;
    border: 1px black solid;
    background-color: rgba(163, 218, 236, 0.5);
    box-shadow: 1px 1px 10px;
    animation: title 5s linear 1s infinite alternate;
}

main{
    margin-top: 120px;
}
#time-container{
    width: 40%;
    background-color: rgba(12, 12, 12, .5);
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}
#time-container h2{
    font-family: sans-serif;
    text-align: center;
    color: rgb(26, 255, 0);
}
#time-container h3{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: monospace;
}
#time{
    display: none;
}

button{
    border: none;
    display: block;
    background-image: linear-gradient(140deg, rgb(158, 235, 158), rgb(226, 83, 83));
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: monospace;
    transition: all .4s ease;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    width: 150px;
    height: 50px;
    margin: 20px auto;
}
button:hover{
    width: 200px;
    background-image: linear-gradient(140deg, rgb(118, 228, 118), rgb(83, 219, 226));
}

@keyframes title{
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}